body {
    margin: 0;
    font-family: 'Space Grotesk';
}

.HW7 {
    width: 1500px;
    height: 959px;
    background: linear-gradient(to bottom right, #3E718E, #64969B);
    margin: 0;
    position: absolute;
}

.Frame_card {
    width: 66.7%;
    height: 66.7%;
    background-color: #fff;
    position: absolute;
    top: 11.7%;
    left: 16.7%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Kreativ {

    font-size: 24px;
    font-weight: 700;
    position: relative;
    top: 1.73%;
    left: 3.2%;

    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.Right_part {
    width: 439px;
    height: 628px;
    position: absolute;
    left: 55.6%;
    right: 0.5%;
    top: 5px;
    bottom: 0.75%;
    margin: 0;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;

}

.Creativity {
    position: relative;
    left: 17%;
    right: 7.5%;
    top: 35.47%;
    bottom: 40.53%;


    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */
    color: #FFF;
    opacity: 0.9;
}

.Home {
    position: absolute;
    width: 44px;
    height: 24px;
    right: 99px;
    top: 8px;


    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #FFFFFF;
}

.Contact {
    position: absolute;
    width: 63px;
    height: 24px;
    right: 13px;
    top: 8px;


    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #FFFFFF;
}

.AE {
    position: absolute;
    left: 17.5%;
    top: 65%;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: #FFFFFF;
}

.Let_get {
    position: absolute;
    width: 205px;
    height: 36px;
    left: 172px;
    top: 101px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 180% */
    color: #000000;
}

.Full_name {
    position: absolute;
    width: 73px;
    height: 24px;
    left: 99px;
    top: 137px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #000000;

}

input {
    box-sizing: border-box;
    position: absolute;
    width: 353px;
    height: 25px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    left: 99px;
    color: #CCCCCC;
    font-family: 'Space Grotesk';

}

.Ade_Tiger {
    top: 161px;
}

.Email_address {
    position: absolute;
    width: 106px;
    height: 24px;
    left: 99px;
    top: 196px;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #000000;

}

.yourname {

    top: 223px;
}

.Phone_number {
    position: absolute;
    width: 112px;
    height: 24px;
    left: 99px;
    top: 258px;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #000000;

}

.Create_password {
    position: absolute;
    width: 130px;
    height: 24px;
    left: 99px;
    top: 321px;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #000000;
}

.number {
    top: 286px;
}

#number {
    color: rgba(0, 0, 0, 0.5);
}

.first_number {
    position: absolute;
    width: 30px;
    height: 16px;
    left: 108px;
    top: 290px;


    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */


    color: rgba(0, 0, 0, 0.5);

}

.password {
    top: 348px;
}

.Password_must {
    position: absolute;
    width: 244px;
    height: 16px;
    left: 99px;
    top: 376px;


    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */
    color: #A8A8A8;
}

.Password_must_contain {
    position: absolute;
    width: 250px;
    height: 16px;
    left: 99px;
    top: 392px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */
    color: #A8A8A8;
}

.Location {
    position: absolute;
    width: 68px;
    height: 24px;
    left: 97px;
    top: 417px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #000000;
}

.Optional {
    position: absolute;
    width: 58px;
    height: 16px;
    left: 174px;
    top: 422px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    color: #A8A8A8;
}

.SelectLocation {
    box-sizing: border-box;

    position: absolute;
    width: 355px;
    height: 25px;
    left: 97px;
    top: 441px;

    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;

}

.Sign_up {
    box-sizing: border-box;

    position: absolute;
    width: 355px;
    height: 34px;
    left: 97px;
    top: 560px;

    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
}

.sign_up {
    position: absolute;
    width: 60px;
    height: 24px;
    left: 246px;
    top: 564px;


    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;

}

.Already {
    position: absolute;
    width: 120px;
    height: 24px;
    left: 190px;
    top: 606px;

    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #C4C4C4;

}

.Login{
    position: absolute;
width: 43px;
height: 24px;
left: 318px;
top: 606px;


font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-decoration-line: underline;

color: #476D73;

}